<a href="https://colab.research.google.com/github/CharlesPrado23/Bootcamp_TurmaNoite/blob/main/Conteudo_01/Introducao_Python_Parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### A linguagem de programação Python foi criada em 1991 por Guido Van Rossumem, com a finalidade de ser uma linguagem simples e de fácil compreensão. Apesar de simples, Python é uma linguagem muito poderosa, que pode ser usada para desenvolver e administrar grandes sistemas.

**Import all libraries**

In [ ]:
#import numpy as np
#import pandas as pd

Data Types - String,  Int, Float, List, Tuple, Range, Dict, Set,Bool etc

In [ ]:
My_integer = 1
My_str = "Hello, World!"
My_float = 2.5
My_list = [1,2,3,4,5]
My_tuple = (1,2,3,4,5) 
My_range = range(1,5)
My_dict ={"A":['Ana','Antonio'],"B":['Berenice','Bernardo']}
My_set = {1,2,3}
My_boolean = True

In [ ]:
print(My_integer)

1

In [ ]:
type(My_integer)

int

In [ ]:
My_integer =100

In [ ]:
print(" My_int ={}\n My_text ={}\n My_float ={}\n My_list = {}\n".format(My_integer,My_str,My_float,My_list))
print(" My_tuple={}\n My_range={}\n My_dict={}\n My_set={}\n My_boolean={}\n".format(My_tuple,My_range,My_dict,My_set,My_boolean))

 My_int =1
 My_text =Hello, World!
 My_float =2.5
 My_list = [1, 2, 3, 4, 5]

 My_tuple=(1, 2, 3, 4, 5)
 My_range=range(1, 5)
 My_dict={'A': ['Ana', 'Antonio'], 'B': ['Berenice', 'Bernardo']}
 My_set={1, 2, 3}
 My_boolean=True

Comando Input

In [ ]:
 texto = input("Digite o seu nome: ")

Digite o seu nome: Charles

In [ ]:
print(texto)

Charles

**Type casting**

In [ ]:
x =float("10.0")

In [ ]:
type(x)

float

**Escreva um programa que receba o salário de um funcionário (float), e retorne o resultado do novo salário com reajuste de 35%.**

In [ ]:
salario = input("Digite o salário atual: ")

print(type(salario))
try:  
  salario = float(salario)
  print(type(salario))
  novo_salario = 1.35*salario ### salario(1+0.35) = salario*1.35
  print("Seu novo salario é {:.2f}".format(novo_salario))

except ValueError:
  print("Error - valor de salário inválido")

Digite o salário atual: 10
<class 'str'>
<class 'float'>
Seu novo salario é 13.50

**Operadores - ( + ;- ; x ; xx, /)**

In [ ]:
soma = My_integer + 1
print(My_integer)
soma

1

2

In [ ]:
subtracao = My_integer -2 
subtracao

-1

In [ ]:
multiplicacao = My_integer*3
multiplicacao

3

In [ ]:
potencia = 2 ** 3 # 2 ^ 3

potencia

8

In [ ]:
divisao = My_integer/0.1   ## resultado é um float
divisao

10.0

In [ ]:
x = int(10.5678)
x

10

In [ ]:
### Operações com Strings ### 
### Concatenar ### 
### Remover espacos #

In [ ]:
q = "Hello "
w = "World"
z = q+w
z

'Hello World'

In [ ]:
dir(str)

In [ ]:
q.rstrip()

'Hello'

In [ ]:
q.upper()

'HELLO '

In [ ]:
help(str)

In [ ]:
age =23
d = "Minha " + "idade " + "é " + str(age) 
d

'Minha idade é 23'

In [ ]:
My_list

[1, 2, 3, 4, 5]

In [ ]:
My_list[0]

1

In [ ]:
## Multiply List by a number - see the result ###
list_A = My_list * 2
list_A

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
My_list = ['H','E','L','L','O','!']



![image.png]()

In [ ]:
#start:step:stop 
#start:stop

In [ ]:
My_list[0:4]

'H'

In [ ]:
My_list[1::2]

['E', 'L', '!']



**Add an element into the List**

In [ ]:
### ToDo ###
### Append ###
A = [10.5,8.7,7.5,9.0,6.8]
A.append(5.6)
A

[10.5, 8.7, 7.5, 9.0, 6.8, 5.6]

In [ ]:
# Insert # 
A.insert(1,100.5)
A

[10.5, 100.5, 8.7, 7.5, 9.0, 6.8, 5.6]

In [ ]:
A.index(6.8)

5



**Remove the element **

In [ ]:
## ToDO ###
A.remove(10.5)
A

[100.5, 8.7, 7.5, 9.0, 6.8, 5.6]

In [ ]:
x = A.pop(3)
A

[100.5, 8.7, 7.5, 6.8, 5.6]

In [ ]:
x

9.0

In [ ]:
A.insert(3,x)
A

[100.5, 8.7, 7.5, 9.0, 6.8, 5.6]

In [ ]:
A[0] = 0.5
A

[0.5, 8.7, 7.5, 9.0, 6.8, 5.6]

In [ ]:
z = (1,2,4)
type(z)

tuple

In [ ]:
z[0]

1

In [ ]:
z[0] = 20

TypeError: ignored

In [ ]:
z = (4,10,40)
z

(4, 10, 40)

In [ ]:
My_tuple

(1, 2, 3, 4, 5)

In [ ]:
another_tuple = My_tuple*2
another_tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
My_boolean = 2==3  ### >= <= != &(and) |(or)
### alguns exemplos usando operadores lógicos 

# AND # 
# 0 & (and) 0 = 0
# 0 & 1 = 0
# 1 & 0 = 0
# 1 & 1 = 1


# OR # 
# 0 | (or) 0 = 0
# 0 | 1 = 1
# 1 | 0 = 1
# 1 | 1 = 1

In [ ]:
My_boolean

False

In [ ]:
A_set = {1,2,3}
B_set = {3,4,5}

In [ ]:
C_set = A_set.intersection(B_set)
D_set = A_set.union(B_set)

In [ ]:
print(C_set)
print(D_set)

{3}
{1, 2, 3, 4, 5}

In [ ]:
frutas = ["maca", "laranja", "banana", "cereja"]
print([1, 2] + [3, 4])
print(frutas + [6, 7, 8, 9])

[1, 2, 3, 4]
['maca', 'laranja', 'banana', 'cereja', 6, 7, 8, 9]

**Dictionary**

In [ ]:
my_dict = {"Local":['Brasil', 'Argentina','Inglaterra'], "PIB":[4,7,9]}

# Lendo as chaves de um dicionário

In [ ]:
my_dict.keys()

dict_keys(['Local', 'PIB'])

# Acessando os valores pela chave

In [ ]:
my_dict.get("PIB")

[4, 2, 9]

In [ ]:
my_dict["PIB"]

[4, 2, 9]

# Adicionado novos pares (Chave-Valor)

In [ ]:
my_dict["Populacao"] =[210,40,60]
my_dict

{'Local': ['Brasil', 'Argentina', 'Inglaterra'],
 'PIB': [4, 2, 9],
 'Populacao': [210, 40, 60]}

# Lendo todos os valores

In [ ]:
my_dict.values()

dict_values([['Brasil', 'Argentina', 'Inglaterra'], [4, 7, 9]])

# Statements in Python

Python Conditions

Equals: a == b 

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

if statement_1: 

     expression_1

elif statement_2:

     expression_2

else:
  
     expression_3

In [ ]:
my_dict["Local"][0]

'Brasil'

In [ ]:
if my_dict['PIB'][0] > my_dict['PIB'][1]: 
  print("Brasil é maior que Argentina")
else:
  print("Brasil é menor que Argentina")

Brasil é menor que Argentina

In [ ]:
## Complete the sentences below ##

a = 40
b = 30
if b > a:
  print('"b is greater than a"')
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 201
if b > a and 3*b > a :
  print("If is true")
else:
  print("Else is false")

If is true

# Loops in Python

# Pertinência

In [ ]:
texto = 'Brasil é maior que Argentina'
if 'Japao' in texto: 
  print('Japao')

In [ ]:
lista_frutas = ['banana', 'laranja', 'abacaxi','uva']
x = 'banana' in lista_frutas
x

True

# While

In [ ]:
a = 10
while a > 1: 
  #a = a - 1
  a-=1
  print(a)

## FOR

In [ ]:
lista_amigos = ["Joe", "Amy", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]
for amigo in lista_amigos:
    print("Ola ", amigo, "  Por favor venha a minha festa no sabado!")

Ola  Joe   Por favor venha a minha festa no sabado!
Ola  Amy   Por favor venha a minha festa no sabado!
Ola  Brad   Por favor venha a minha festa no sabado!
Ola  Angelina   Por favor venha a minha festa no sabado!
Ola  Zuki   Por favor venha a minha festa no sabado!
Ola  Thandi   Por favor venha a minha festa no sabado!
Ola  Paris   Por favor venha a minha festa no sabado!

In [ ]:
print(range(0,100))

range(0, 100)

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len(lista_amigos)

7

In [ ]:
for j in range(len(lista_amigos)):
  print("Ola ", lista_amigos[j], "  Por favor venha a minha festa no sabado!")

Ola  Joe   Por favor venha a minha festa no sabado!
Ola  Amy   Por favor venha a minha festa no sabado!
Ola  Brad   Por favor venha a minha festa no sabado!

In [ ]:
## for + range

In [ ]:
## for in

In [ ]:
for x in "bootcamp":
  print(x)

b
o
o
t
c
a
m
p

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# FUNÇÕES

Variáveis e parâmetros locais

In [ ]:
def my_func(var1):
     var1 = var1 + 2
     return var1

In [ ]:
x = 4

In [ ]:
z = my_func(x)
print(z)

6

In [ ]:
def my_sum(a,b):
  y = a+b
  return y

In [ ]:
z = my_sum(3,4)
print(z)

7

In [ ]:
def my_square(a):
  y=a**2 
  return y

In [ ]:
w = my_square(10)
print(w)

100

In [ ]:
q = 10
w = my_square(q)
print(w)

100

In [ ]:
def my_func1(q):
  q = q + 1
  print(q)

In [ ]:
my_func1(10)

11

Padrão de acumulação

In [ ]:
10**2

100

In [ ]:
def my_square(a):
  sum = 0
  for i in range(a):
    sum = sum + a
  return sum

In [ ]:
my_square(10)

100

In [ ]:
def soma_lista(lista_inteiros):
  sum = 0 
  for valor in lista_inteiros:
    sum = sum +valor
  return sum

In [ ]:
def soma_lista1(lista_inteiros):
  sum = 0 
  for j in range(len(lista_inteiros)):
    sum = sum + lista_inteiros[j]
  return sum

In [ ]:
my_list = [10,1,-10,-30,-20]
print(soma_lista1(my_list))

-49

Função chamando Função

In [ ]:
def my_square(a):
  sum = 0
  for i in range(a):
    sum = sum + a
  return sum

In [ ]:
def sum_of_squares(a,b,c):
  x = my_square(a)
  y = my_square(b)
  z = my_square(c)
  return (x+y+z)

In [ ]:
sum_of_squares(3,4,5)

50

In [ ]:
def pot(b, p):
  y = b ** p
  return y

def quadrado(x):
  a = pot(x, 2)
  return a

n = 5
resultado = quadrado(n)
print(resultado)

25

In [ ]:
def cube(x):
  c = pot(x,3)
  return c

In [ ]:
cube(2)

8

# *args - varying number of positional arguments

In [ ]:
A = [1,2,3]
A

[1, 2, 3]

In [ ]:
print(*A)

1 2 3

# **unpacking operator** (*)
# Tuples

In [ ]:
list_numeros = [1,2,3,4] 
print(*list_numeros)

1 2 3 4

In [ ]:
def soma_dez_valores(a,b,c,d,e,f,g,h,i,j):
  return a+b+c+d+e+f+g+h+i+j

In [ ]:
def my_sum(*args):
    result = 0
    # Iterating over the Python args tuple
    for x in args:
        result += x
    return result

In [ ]:
my_sum(0,1,100,-100,20)

21

In [ ]:
my_sum(1,3,5)

9

In [ ]:
listA = [0,1,4]
my_sum(*listA)
#my_sum(0,1,4)

5

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5]
list3 = [6, 7, 8, 9]

print(my_sum(*list1, *list2, *list3,20))

65

 Ordem: 
 
         1.  : argumentos padrões 

         2.  : *args

In [ ]:
3 make_pizza(*topings, size):

In [ ]:
def make_pizza(size,*toppings):
    """Summarize the pizza we are about to make."""
    print(f"\nMaking a {size}-inch pizza with the following toppings:")
    for X in toppings:
        print(f"- {X}")

In [ ]:
make_pizza(25,'marguerita','alho', 'tomate','queijo')

Making a 25-inch pizza with the following toppings:
- marguerita
- alho
- tomate
- queijo

# **unpacking operator** (**)
# Dictionary

In [ ]:
my_dict = {'d':['a','b'], 'z':1 }

In [ ]:
print(*my_dict)

d z

In [ ]:
def build_profile(first,last,**user_info):
       print(type(user_info))
       """Build a dictionary containing everything we know about a user."""
       user_info['first_name'] = first
       user_info['last_name'] = last
       return user_info

In [ ]:
my_profile = build_profile('Carlos', 'Silva',idade=19,bairro='Botafogo', profissao ='Cientista de Dados')

<class 'dict'>

In [ ]:
my_profile['profissao']

'Cientista de Dados'

In [ ]:
build_profile('Ana','Souza',**my_profile)

<class 'dict'>

{'idade': 19,
 'bairro': 'Botafogo',
 'profissao': 'Cientista de Dados',
 'first_name': 'Ana',
 'last_name': 'Souza'}

In [ ]:
B = [1, 2 ,4, 2 ,4, 6]

In [ ]:
## List Comprehensions
A =[x + 3 for x in B]
A

[4, 5, 7, 5, 7, 9]

In [ ]:
C = (1,2,4)
D = [x*2 for x in C]
D

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        recurse = factorial(n-1)
        result = n * recurse
        return result

In [ ]:
factorial(3)

1

In [ ]:
def factorial (n):
    if not isinstance(n, int):
        print('Factorial is only defined for integers.')
        return None
    elif n < 0:
        print('Factorial is not defined for negative integers.')
        return None
    elif n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [ ]:
factorial(5)

120